@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #06241B;
  --secondary: #04C171;
  --accent: #E9F8F3;
  --accent2: #EEF8F5;
  --grey: #6D737A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
